h1{
  font-family: 'Jua', sans-serif;
}
p{
  text-align : center;
}
img{
  display : block;
  margin : auto;
  width : 500px;
  height : 600px;
}
h3{
  margin-top : 10px;
}
#menu{
  text-align : center;
}
#menu a{
  margin-left: 20px;
  text-decoration : none;
  color : black;
}
.chart{
  text-align: center;
}
.Apple{
  text-align : center;
  background-color: #eee;
  border-radius: 20px;
  padding : 20px;
  margin : 50px 40px 40px;
  font-family: 'Jua', sans-serif;
}
img{
  border-radius: 10px;
}
